.pokedex--data {
  position: absolute;
  top: 183px;
  right: 100px;
  color: $color-white;
  width: 225px;
  height: 80px;
  font-size: 10px;
  z-index: 2;
  animation: fade-in 1s;

  &__stats {
    &__button {
      position: absolute;
      top: 402px;
      left: 465px;
      background: none;
      border: none;
      font-size: 12px;
      cursor: pointer;
    }
  }

  &__abilities {
    &__button {
      position: absolute;
      top: 402px;
      left: 507.5px;
      background: none;
      border: none;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
