.pokedex--data {
  position: absolute;
  top: 18.3rem;
  right: 10rem;
  color: $color-white;
  width: 22.5rem;
  height: 8rem;
  font-size: 1rem;
  z-index: 2;
  animation: fade-in 1s;

  &__stats {
    &__button {
      position: absolute;
      top: 40.2rem;
      left: 46.5rem;
      background: none;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      backface-visibility: hidden;
    }
  }

  &__abilities {
    &__button {
      position: absolute;
      top: 40.2rem;
      left: 50.75rem;
      background: none;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      backface-visibility: hidden;
    }
  }
}
