.pokedex--form {
  position: absolute;
  top: 46.4rem;
  left: 10rem;

  @include respond(phone) {
    top: 16.7rem;
    left: 5rem;
    font-size: 8rem;
  }

  &__search {
    width: 7.8rem;
    background: none;
    border: none;
    font-size: 1.6rem;

    &::placeholder {
      color: #555;
    }

    @include respond(phone) {
      width: 3.5rem;
      font-size: 0.8rem;
    }
  }

  &__button {
    background: $color-black;
    color: $color-white;
    border: none;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    transition: transform 0.3s;

    &:hover {
      cursor: pointer;
      transform: translateY(-1.5px) scale(1.01);
    }

    &:active {
      transform: translateY(0);
    }

    @include respond(phone) {
      height: 2rem;
      width: 2rem;
      font-size: 1.2rem;
    }
  }
}
