.pokedex {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-top: 125px;
  width: 78.6rem;
  height: 57.7rem;
  background-size: 100%;
  background-repeat: no-repeat;
  text-transform: capitalize;
  overflow: hidden;

  @include respond(small) {
    position: absolute;
    left: 10px;
  }

  &--light {
    width: 5.8rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50px;
    animation-duration: 1s;
    animation-name: light;
    animation-iteration-count: infinite;

    &__red {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      position: absolute;
      top: 16.1px;
      left: 119.2px;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2;
    }

    &__yellow {
      width: 19px;
      height: 19px;
      border-radius: 50%;

      position: absolute;
      top: 16.1px;
      left: 152px;
      animation-delay: 0.5s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2;

      &_big {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        top: 403.8px;
        right: 91.5px;
        animation-duration: 1s;
        animation-name: lightSecondary;
        animation-iteration-count: 3;
      }
    }

    &__green {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      position: absolute;
      top: 16.1px;
      left: 182.5px;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2;
    }
  }

  &--shinyButton {
    position: absolute;
    left: 9.6rem;
    top: 34.4rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: $color-white;
    z-index: 1;
  }

  &--onButton {
    position: absolute;
    left: 4rem;
    top: 38.5rem;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: $color-white;
  }

  &--negativeButton {
    position: absolute;
    left: 25.7rem;
    top: 41.4rem;
    background-color: transparent;
    border: none;
    color: $color-white;
    font-size: 4rem;
  }

  &--positiveButton {
    position: absolute;
    left: 30.8rem;
    top: 41.4rem;
    background-color: transparent;
    border: none;
    color: $color-white;
    font-size: 4rem;
  }
}
