.pokedex--select {
  position: absolute;
  top: 28.8rem;
  left: 45.5rem;
  display: flex;
  flex-flow: row wrap;
  width: 25rem;
  animation: fade-in 1s;

  &__button {
    width: 47.5px;
    height: 36.5px;
    background: none;
    border: none;
  }
}
