.pokedex {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-top: 5rem;
  width: 78.6rem;
  height: 57.7rem;
  background-size: 100%;
  background-repeat: no-repeat;
  text-transform: capitalize;
  overflow: hidden;

  @include respond(phone) {
    position: absolute;
    width: 40rem;
    margin-top: 8rem;
  }

  &--light {
    width: 5.8rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 5rem;
    animation-duration: 1s;
    animation-name: light;
    animation-iteration-count: infinite;

    @include respond(phone) {
      width: 4rem;
      height: 4rem;
      top: 0.8rem;
      left: 2rem;
    }

    &__red {
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      position: absolute;
      top: 1.61rem;
      left: 11.92rem;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2;

      @include respond(phone) {
        display: none;
      }
    }

    &__yellow {
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      position: absolute;
      top: 1.61rem;
      left: 15.2rem;
      animation-delay: 0.5s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2;

      @include respond(phone) {
        display: none;
      }

      &_big {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        position: absolute;
        top: 40.38rem;
        right: 9.15rem;
        animation-duration: 1s;
        animation-name: lightSecondary;
        animation-iteration-count: 3;

        @include respond(phone) {
          display: none;
        }
      }
    }

    &__green {
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      position: absolute;
      top: 1.61rem;
      left: 18.25rem;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2;

      @include respond(phone) {
        display: none;
      }
    }
  }

  &--shinyButton {
    position: absolute;
    left: 9.4rem;
    top: 34.4rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: $color-white;
    z-index: 1;
    backface-visibility: hidden;
    z-index: 999;

    @include respond(phone) {
      top: 16.8rem;
      left: 4.25rem;
      font-size: 1rem;
    }
  }

  &--onButton {
    position: absolute;
    left: 4rem;
    top: 38.5rem;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: $color-white;
    backface-visibility: hidden;
    z-index: 999;

    @include respond(phone) {
      top: 18.3rem;
      left: 0.8rem;
      font-size: 1rem;
    }
  }

  &--negativeButton {
    position: absolute;
    left: 25.7rem;
    top: 41.4rem;
    background-color: transparent;
    border: none;
    color: $color-white;
    font-size: 4rem;
    backface-visibility: hidden;
    z-index: 999;

    @include respond(phone) {
      top: 20.9rem;
      left: 13rem;
      font-size: 2rem;
    }
  }

  &--positiveButton {
    position: absolute;
    left: 30.8rem;
    top: 41.4rem;
    background-color: transparent;
    border: none;
    color: $color-white;
    font-size: 4rem;
    backface-visibility: hidden;
    z-index: 999;

    @include respond(phone) {
      top: 20.9rem;
      left: 15.56rem;
      font-size: 2rem;
    }
  }
}
