.pokedex--screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.7rem;
  height: 15.8rem;
  background-color: $color-white;
  color: #ccc;
  position: absolute;
  top: 16.9rem;
  left: 7.3rem;
  border-radius: 10px;
  animation: fade-in 1s;

  @include respond(phone) {
    top: 9rem;
    left: 4rem;
    width: 10rem;
    height: 7rem;
  }

  &__off {
    width: 23.7rem;
    height: 15.8rem;
    background-color: $color-off;
    position: absolute;
    top: 17rem;
    left: 7.3rem;
    border-radius: 10px;
    z-index: 999;

    @include respond(phone) {
      top: 8.65rem;
      left: 3.65rem;
      width: 12.2rem;
      height: 8rem;
      border-radius: 3px;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17rem;
    left: 7.3rem;
    border-radius: 10px;
    width: 23.7rem;
    height: 15.8rem;
    text-align: center;
    background-color: $color-white;
    padding: 5px;
    z-index: 998;

    @include respond(phone) {
      top: 8.65rem;
      left: 3.65rem;
      width: 12.2rem;
      height: 8rem;
      border-radius: 3px;
    }
  }

  &__load {
    width: 23.7rem;
    height: 15.8rem;
    position: absolute;
    top: 17rem;
    left: 7.3rem;
    border-radius: 10px;

    @include respond(phone) {
      top: 8.65rem;
      left: 4rem;
      width: 11rem;
      height: 8rem;
      border-radius: 3px;
    }
  }

  &__sprite {
    position: absolute;
    width: 12rem;
    z-index: 997;

    @include respond(phone) {
      width: 8rem;
      margin-left: 1rem;
    }
  }

  &__name {
    position: absolute;
    top: 1rem;

    @include respond(phone) {
      top: 0;
    }
  }

  &__pokeNumber {
    margin-left: 0.5rem;
    font-size: 9.4rem;
    font-weight: 1000;

    @include respond(phone) {
      font-size: 4.5rem;
      margin-left: 1.8rem;
    }
  }
}
