.tutorial {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  width: 100vw;

  @include respond(phone) {
    display: none;
  }

  &--button {
    background: #f0072d;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-white;
    display: inline-block;
    padding: 7.5px 15px;
    border-radius: 0 0 15px 0;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
  }

  &--power {
    position: absolute;
    top: 44.7rem;
    left: 16.5rem;
    background: #03ac5e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 19rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;

    @include respond(tab-land) {
      left: 10rem;
    }

    @include respond(tab-port) {
      top: 44.5rem;
      left: 1.5rem;
    }
  }

  &--shiny {
    position: absolute;
    top: 39rem;
    left: 15rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 26rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;

    @include respond(tab-land) {
      left: 8rem;
    }

    @include respond(tab-port) {
      left: 0.5rem;
    }
  }

  &--search {
    position: absolute;
    top: 51rem;
    left: 17rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 23.9rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;

    @include respond(tab-land) {
      top: 51.2rem;
      left: 12rem;
    }

    @include respond(tab-port) {
      left: 0.5rem;
    }
  }

  &--plusMinus {
    position: absolute;
    top: 34em;
    right: 54rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;

    @include respond(tab-land) {
      right: 49rem;
    }

    @include respond(tab-port) {
      right: 38rem;
    }
  }

  &--selection {
    position: absolute;
    top: 35.9rem;
    right: 12.5rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;

    @include respond(tab-land) {
      right: 8rem;
    }

    @include respond(tab-port) {
      right: 0;
    }
  }

  &--statsAbilities {
    position: absolute;
    top: 44.4rem;
    right: 30rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;

    @include respond(tab-land) {
      right: 25rem;
    }

    @include respond(tab-port) {
      right: 14rem;
    }
  }
}
