.tutorial {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  width: 100vw;

  @include respond(medium) {
    display: none;
  }

  @include respond(small) {
    display: none;
  }

  &--button {
    background: red;
    color: #eee;
    display: inline-block;
    padding: 7.5px 15px;
    border-radius: 0 0 15px 0;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
  }

  &--power {
    position: absolute;
    top: 520px;
    left: 175px;
    background: #03ac5e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 190px;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--shiny {
    position: absolute;
    top: 466px;
    left: 150px;
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 260px;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--search {
    position: absolute;
    top: 590px;
    left: 170px;
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 239px;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--plusMinus {
    position: absolute;
    top: 553px;
    right: 540px;
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--selection {
    position: absolute;
    top: 435px;
    right: 125px;
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--statsAbilities {
    position: absolute;
    top: 520px;
    right: 300px;
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }
}
