.tutorial {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  width: 100vw;

  &--button {
    background: #f0072d;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-white;
    display: inline-block;
    padding: 7.5px 15px;
    border-radius: 0 0 15px 0;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
  }

  &--power {
    position: absolute;
    top: 52rem;
    left: 17.5rem;
    background: #03ac5e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 19rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--shiny {
    position: absolute;
    top: 46.6rem;
    left: 15rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 26rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--search {
    position: absolute;
    top: 59rem;
    left: 17rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 23.9rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--plusMinus {
    position: absolute;
    top: 55.3rem;
    right: 54rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--selection {
    position: absolute;
    top: 43.5rem;
    right: 12.5rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }

  &--statsAbilities {
    position: absolute;
    top: 52rem;
    right: 30rem;
    background: $color-white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s;
  }
}
