.pokedex--types {
  position: absolute;
  top: 46.9rem;
  margin-left: 20px;
  color: white;

  &__0 {
    position: absolute;
    left: 46rem;
  }
  &__1 {
    position: absolute;
    left: 59.5rem;
  }
}
