.pokedex--types {
  position: absolute;
  top: 46.9rem;
  margin-left: 2rem;
  color: $color-white;
  font-size: 1.6rem;

  @include respond(phone) {
    top: 23.8rem;
    font-size: 1rem;
  }

  &__0 {
    position: absolute;
    left: 46rem;

    @include respond(phone) {
      left: 22.3rem;
    }
  }
  &__1 {
    position: absolute;
    left: 59.5rem;

    @include respond(phone) {
      left: 28.9rem;
    }
  }
}
