@keyframes light {
  0% {
    background-color: #39beff4a;
    box-shadow: none;
  }
  50% {
    background-color: #39beff4a;
    box-shadow: 0 0 12px 8px white;
  }
  100% {
    background-color: #39beff4a;
    box-shadow: none;
  }
}

@keyframes lightSecondary {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 12px 8px white;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes lightSmall {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px 6px white;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
