@keyframes light {
  0% {
    background-color: $color-light-primary;
    box-shadow: none;
  }
  50% {
    background-color: $color-light-primary;
    box-shadow: 0 0 12px 8px $color-white;
  }
  100% {
    background-color: $color-light-primary;
    box-shadow: none;
  }
}

@keyframes lightSecondary {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 12px 8px $color-white;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes lightSmall {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px 6px $color-white;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
