* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #87caea;

  @include respond(small) {
    background-color: transparent;
    height: 90vh;
    width: 190vw;
    overflow: scroll;
  }
}

.github {
  padding: 20px;
  font-size: 38px;
  color: #eee;
  transition: transform 0.3s;

  &:hover {
    color: #f0072d;
    cursor: pointer;
    transform: translateY(-1.5px) scale(1.01);
  }

  &:active {
    transform: translateY(0);
  }

  @include respond(small) {
    color: #f0072d;

    &:hover {
      color: #eee;
    }
  }
}
