* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #87caea;

  @include respond(small) {
    background-color: transparent;
    height: 90vh;
    width: 190vw;
    overflow: scroll;
  }
}

.github {
  padding: 20px;
  font-size: 38px;
  color: #eee;

  &:hover {
    color: #f0072d;
  }
}
