* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #87caea;

  @include respond(phone) {
    background-color: transparent;
    height: 90vh;
    width: 190vw;
    overflow: scroll;
  }
}

.github {
  padding: 2rem;
  font-size: 3.8rem;
  color: $color-white;
  transition: transform 0.3s;

  &:hover {
    color: $color-red-pokemon;
    cursor: pointer;
    transform: translateY(-1.5px) scale(1.01);
  }

  &:active {
    transform: translateY(0);
  }

  @include respond(small) {
    color: $color-red-pokemon;

    &:hover {
      color: $color-white;
    }
  }
}
