@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/*
0-300px: Small phone
300-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
[1200-1800px: Normal styles apply]
1800px +: Big desktop

/*
$breakpoint argument choices:
- small phone
- phone
- tab-port
- tab-land
- big-desktop

*/
@keyframes light {
  0% {
    background-color: #39beff4a;
    box-shadow: none; }
  50% {
    background-color: #39beff4a;
    box-shadow: 0 0 12px 8px #fff; }
  100% {
    background-color: #39beff4a;
    box-shadow: none; } }

@keyframes lightSecondary {
  0% {
    box-shadow: none; }
  50% {
    box-shadow: 0 0 12px 8px #fff; }
  100% {
    box-shadow: none; } }

@keyframes lightSmall {
  0% {
    box-shadow: none; }
  50% {
    box-shadow: 0 0 10px 6px #fff; }
  100% {
    box-shadow: none; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

:focus {
  border: none;
  outline: none; }

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 10px; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

button {
  transition: transform 0.2s; }
  button:hover {
    cursor: pointer;
    transform: translateY(-1.5px) scale(1.01); }
  button:active {
    transform: translateY(0); }

.pokedex {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-top: 5rem;
  width: 78.6rem;
  height: 57.7rem;
  background-size: 100%;
  background-repeat: no-repeat;
  text-transform: capitalize;
  overflow: hidden; }
  @media (max-width: 37.5em) {
    .pokedex {
      position: absolute;
      width: 40rem;
      margin-top: 8rem; } }
  .pokedex--light {
    width: 5.8rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    left: 5rem;
    animation-duration: 1s;
    animation-name: light;
    animation-iteration-count: infinite; }
    @media (max-width: 37.5em) {
      .pokedex--light {
        width: 4rem;
        height: 4rem;
        top: 0.8rem;
        left: 2rem; } }
    .pokedex--light__red {
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      position: absolute;
      top: 1.61rem;
      left: 11.92rem;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2; }
      @media (max-width: 37.5em) {
        .pokedex--light__red {
          display: none; } }
    .pokedex--light__yellow {
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      position: absolute;
      top: 1.61rem;
      left: 15.2rem;
      animation-delay: 0.5s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2; }
      @media (max-width: 37.5em) {
        .pokedex--light__yellow {
          display: none; } }
      .pokedex--light__yellow_big {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        position: absolute;
        top: 40.38rem;
        right: 9.15rem;
        animation-duration: 1s;
        animation-name: lightSecondary;
        animation-iteration-count: 3; }
        @media (max-width: 37.5em) {
          .pokedex--light__yellow_big {
            display: none; } }
    .pokedex--light__green {
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      position: absolute;
      top: 1.61rem;
      left: 18.25rem;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2; }
      @media (max-width: 37.5em) {
        .pokedex--light__green {
          display: none; } }
  .pokedex--shinyButton {
    position: absolute;
    left: 9.4rem;
    top: 34.4rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    z-index: 1;
    backface-visibility: hidden;
    z-index: 999; }
    @media (max-width: 37.5em) {
      .pokedex--shinyButton {
        top: 16.8rem;
        left: 4.25rem;
        font-size: 1rem; } }
  .pokedex--onButton {
    position: absolute;
    left: 4rem;
    top: 38.5rem;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    backface-visibility: hidden;
    z-index: 999; }
    @media (max-width: 37.5em) {
      .pokedex--onButton {
        top: 18.3rem;
        left: 0.8rem;
        font-size: 1rem; } }
  .pokedex--negativeButton {
    position: absolute;
    left: 25.7rem;
    top: 41.4rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 4rem;
    backface-visibility: hidden;
    z-index: 999; }
    @media (max-width: 37.5em) {
      .pokedex--negativeButton {
        top: 21.2rem;
        left: 13rem;
        font-size: 2rem; } }
  .pokedex--positiveButton {
    position: absolute;
    left: 30.8rem;
    top: 41.4rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 4rem;
    backface-visibility: hidden;
    z-index: 999; }
    @media (max-width: 37.5em) {
      .pokedex--positiveButton {
        top: 21.2rem;
        left: 15.56rem;
        font-size: 2rem; } }

.pokedex--data {
  position: absolute;
  top: 18.3rem;
  right: 10rem;
  color: #fff;
  width: 22.5rem;
  font-size: 1rem;
  z-index: 2;
  animation: fade-in 1s; }
  @media (max-width: 37.5em) {
    .pokedex--data {
      top: 9.45rem;
      right: 6.7rem;
      width: 10rem;
      height: 4.2rem;
      font-size: 4.8px !important;
      overflow: scroll;
      border-radius: 3px; } }
  .pokedex--data__stats__button {
    position: absolute;
    top: 40.2rem;
    left: 46.5rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .pokedex--data__stats__button {
        top: 20.5rem;
        left: 26.2rem;
        font-size: 5px; } }
  .pokedex--data__abilities__button {
    position: absolute;
    top: 40.2rem;
    left: 50.75rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .pokedex--data__abilities__button {
        top: 20.5rem;
        left: 23.45rem;
        font-size: 5px; } }

.pokedex--form {
  position: absolute;
  top: 46.4rem;
  left: 10rem; }
  @media (max-width: 37.5em) {
    .pokedex--form {
      top: 16.55rem;
      left: 5rem;
      font-size: 8rem; } }
  .pokedex--form__search {
    width: 7.8rem;
    background: none;
    border: none;
    font-size: 1.6rem; }
    .pokedex--form__search::placeholder {
      color: #555; }
    @media (max-width: 37.5em) {
      .pokedex--form__search {
        width: 3.5rem;
        font-size: 8px; } }
  .pokedex--form__button {
    background: #000;
    color: #fff;
    border: none;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    transition: transform 0.3s; }
    .pokedex--form__button:hover {
      cursor: pointer;
      transform: translateY(-1.5px) scale(1.01); }
    .pokedex--form__button:active {
      transform: translateY(0); }
    @media (max-width: 37.5em) {
      .pokedex--form__button {
        height: 2rem;
        width: 2rem;
        font-size: 5px; } }

.pokedex--screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.7rem;
  height: 15.8rem;
  background-color: #fff;
  color: #ccc;
  position: absolute;
  top: 16.9rem;
  left: 7.3rem;
  border-radius: 10px;
  animation: fade-in 1s; }
  @media (max-width: 37.5em) {
    .pokedex--screen {
      top: 9rem;
      left: 4rem;
      width: 10rem;
      height: 7rem; } }
  .pokedex--screen__off {
    width: 23.7rem;
    height: 15.8rem;
    background-color: #012924;
    position: absolute;
    top: 17rem;
    left: 7.3rem;
    border-radius: 10px; }
    @media (max-width: 37.5em) {
      .pokedex--screen__off {
        top: 8.65rem;
        left: 3.65rem;
        width: 12.2rem;
        height: 8rem;
        border-radius: 3px; } }
  .pokedex--screen__error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17rem;
    left: 7.3rem;
    border-radius: 10px;
    width: 23.7rem;
    height: 15.8rem;
    text-align: center;
    background-color: #fff;
    padding: 5px; }
    @media (max-width: 37.5em) {
      .pokedex--screen__error {
        top: 8.65rem;
        left: 3.65rem;
        width: 12.2rem;
        height: 8rem;
        border-radius: 3px; } }
  .pokedex--screen__load {
    width: 23.7rem;
    height: 15.8rem;
    position: absolute;
    top: 16.9rem;
    left: 7.3rem;
    border-radius: 10px; }
    @media (max-width: 37.5em) {
      .pokedex--screen__load {
        top: 8.65rem;
        left: 3.65rem;
        width: 12.2rem;
        height: 8rem;
        border-radius: 3px; } }
  .pokedex--screen__sprite {
    position: absolute;
    width: 12rem;
    z-index: 998; }
    @media (max-width: 37.5em) {
      .pokedex--screen__sprite {
        margin-left: 1rem; } }
  .pokedex--screen__name {
    position: absolute;
    top: 1rem; }
    @media (max-width: 37.5em) {
      .pokedex--screen__name {
        top: 0; } }
  .pokedex--screen__pokeNumber {
    margin-left: 0.5rem;
    font-size: 9.4rem;
    font-weight: 1000; }
    @media (max-width: 37.5em) {
      .pokedex--screen__pokeNumber {
        font-size: 4.5rem;
        margin-left: 1.8rem; } }

.pokedex--select {
  position: absolute;
  top: 28.8rem;
  left: 45.5rem;
  display: flex;
  flex-flow: row wrap;
  width: 25rem;
  animation: fade-in 1s; }
  @media (max-width: 37.5em) {
    .pokedex--select {
      top: 14.5rem;
      left: 23.1rem;
      width: 13rem; } }
  .pokedex--select__button {
    width: 4.75rem;
    height: 3.65rem;
    background: none;
    border: none;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .pokedex--select__button {
        font-size: 1rem;
        width: 2.5rem;
        height: 2rem;
        font-size: 0.9rem; } }

.tutorial {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  width: 100vw; }
  @media (max-width: 37.5em) {
    .tutorial {
      display: none; } }
  .tutorial--button {
    background: #f0072d;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    display: inline-block;
    padding: 7.5px 15px;
    border-radius: 0 0 15px 0;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75); }
  .tutorial--power {
    position: absolute;
    top: 52rem;
    left: 17.5rem;
    background: #03ac5e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 19rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--shiny {
    position: absolute;
    top: 46.6rem;
    left: 15rem;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 26rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--search {
    position: absolute;
    top: 59rem;
    left: 17rem;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 23.9rem;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--plusMinus {
    position: absolute;
    top: 55.3rem;
    right: 54rem;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--selection {
    position: absolute;
    top: 43.5rem;
    right: 12.5rem;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--statsAbilities {
    position: absolute;
    top: 52rem;
    right: 30rem;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }

.pokedex--types {
  position: absolute;
  top: 46.9rem;
  margin-left: 2rem;
  color: #fff;
  font-size: 1.6rem; }
  @media (max-width: 37.5em) {
    .pokedex--types {
      top: 23.8rem;
      font-size: 1rem; } }
  .pokedex--types__0 {
    position: absolute;
    left: 46rem; }
    @media (max-width: 37.5em) {
      .pokedex--types__0 {
        left: 22.3rem; } }
  .pokedex--types__1 {
    position: absolute;
    left: 59.5rem; }
    @media (max-width: 37.5em) {
      .pokedex--types__1 {
        left: 28.9rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #87caea; }
  @media (max-width: 37.5em) {
    .container {
      background-color: transparent;
      overflow: hidden;
      height: 100%; } }

.github {
  padding: 2rem;
  font-size: 3.8rem;
  color: #fff;
  transition: transform 0.3s;
  backface-visibility: hidden; }
  .github:hover {
    color: #f0072d;
    cursor: pointer;
    transform: translateY(-1.5px) scale(1.01); }
  .github:active {
    transform: translateY(0); }
  @media (max-width: 37.5em) {
    .github {
      color: #f0072d; }
      .github:hover {
        color: #fff; } }
