@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/*
0-300px: Small phone
300-600px: Phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
[1200-1800px: Normal styles apply]
1800px +: Big desktop

/*
$breakpoint argument choices:
- small phone
- phone
- tab-port
- tab-land
- big-desktop

*/
@keyframes light {
  0% {
    background-color: #39beff4a;
    box-shadow: none; }
  50% {
    background-color: #39beff4a;
    box-shadow: 0 0 12px 8px #fff; }
  100% {
    background-color: #39beff4a;
    box-shadow: none; } }

@keyframes lightSecondary {
  0% {
    box-shadow: none; }
  50% {
    box-shadow: 0 0 12px 8px #fff; }
  100% {
    box-shadow: none; } }

@keyframes lightSmall {
  0% {
    box-shadow: none; }
  50% {
    box-shadow: 0 0 10px 6px #fff; }
  100% {
    box-shadow: none; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

:focus {
  border: none;
  outline: none; }

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

button {
  transition: transform 0.3s; }
  button:hover {
    cursor: pointer;
    transform: translateY(-1.5px) scale(1.01); }
  button:active {
    transform: translateY(0); }

.pokedex {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-top: 125px;
  width: 78.6rem;
  height: 57.7rem;
  background-size: 100%;
  background-repeat: no-repeat;
  text-transform: capitalize;
  overflow: hidden; }
  .pokedex--light {
    width: 5.8rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50px;
    animation-duration: 1s;
    animation-name: light;
    animation-iteration-count: infinite; }
    .pokedex--light__red {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      position: absolute;
      top: 16.1px;
      left: 119.2px;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2; }
    .pokedex--light__yellow {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      position: absolute;
      top: 16.1px;
      left: 152px;
      animation-delay: 0.5s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2; }
      .pokedex--light__yellow_big {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        top: 403.8px;
        right: 91.5px;
        animation-duration: 1s;
        animation-name: lightSecondary;
        animation-iteration-count: 3; }
    .pokedex--light__green {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      position: absolute;
      top: 16.1px;
      left: 182.5px;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-name: lightSmall;
      animation-iteration-count: 2; }
  .pokedex--shinyButton {
    position: absolute;
    left: 96px;
    top: 344px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    z-index: 1; }
  .pokedex--onButton {
    position: absolute;
    left: 40px;
    top: 385px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff; }
  .pokedex--negativeButton {
    position: absolute;
    left: 257px;
    top: 414px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 4rem; }
  .pokedex--positiveButton {
    position: absolute;
    left: 308px;
    top: 414px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 4rem; }

.pokedex--data {
  position: absolute;
  top: 183px;
  right: 100px;
  color: #fff;
  width: 225px;
  height: 80px;
  font-size: 1rem;
  z-index: 2;
  animation: fade-in 1s; }
  .pokedex--data__stats__button {
    position: absolute;
    top: 402px;
    left: 465px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer; }
  .pokedex--data__abilities__button {
    position: absolute;
    top: 402px;
    left: 507.5px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer; }

.pokedex--form {
  position: absolute;
  top: 464px;
  left: 100px; }
  .pokedex--form__search {
    width: 78px;
    background: none;
    border: none;
    font-size: 1.6rem; }
    .pokedex--form__search::placeholder {
      color: #555; }
  .pokedex--form__button {
    background: #000;
    color: #fff;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: transform 0.3s; }
    .pokedex--form__button:hover {
      cursor: pointer;
      transform: translateY(-1.5px) scale(1.01); }
    .pokedex--form__button:active {
      transform: translateY(0); }

.pokedex--screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.7rem;
  height: 15.8rem;
  background-color: #fff;
  color: #ccc;
  position: absolute;
  top: 16.9rem;
  left: 7.3rem;
  border-radius: 10px;
  animation: fade-in 1s; }
  .pokedex--screen__off {
    width: 23.7rem;
    height: 15.8rem;
    background-color: #012924;
    position: absolute;
    top: 17rem;
    left: 7.3rem;
    border-radius: 10px; }
  .pokedex--screen__error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17rem;
    left: 7.3rem;
    border-radius: 10px;
    width: 23.7rem;
    height: 15.8rem;
    text-align: center;
    background-color: #fff;
    padding: 5px; }
  .pokedex--screen__load {
    width: 23.7rem;
    height: 15.8rem;
    position: absolute;
    top: 16.9rem;
    left: 7.3rem;
    border-radius: 10px; }
  .pokedex--screen__sprite {
    position: absolute;
    width: 120px; }
    @media (max-width: 37.5em) {
      .pokedex--screen__sprite {
        width: 90px; } }
  .pokedex--screen__name {
    position: absolute;
    top: 10px; }
  .pokedex--screen__pokeNumber {
    margin-left: 5px;
    font-size: 9.4rem;
    font-weight: 1000; }

.pokedex--select {
  position: absolute;
  top: 28.8rem;
  left: 45.5rem;
  display: flex;
  flex-flow: row wrap;
  width: 25rem;
  animation: fade-in 1s; }
  .pokedex--select__button {
    width: 47.5px;
    height: 36.5px;
    background: none;
    border: none; }

.tutorial {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  width: 100vw; }
  .tutorial--button {
    background: #f0072d;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    display: inline-block;
    padding: 7.5px 15px;
    border-radius: 0 0 15px 0;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75); }
  .tutorial--power {
    position: absolute;
    top: 520px;
    left: 175px;
    background: #03ac5e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 190px;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--shiny {
    position: absolute;
    top: 466px;
    left: 150px;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 260px;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--search {
    position: absolute;
    top: 590px;
    left: 170px;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 239px;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--plusMinus {
    position: absolute;
    top: 553px;
    right: 540px;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--selection {
    position: absolute;
    top: 435px;
    right: 125px;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }
  .tutorial--statsAbilities {
    position: absolute;
    top: 520px;
    right: 300px;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    -webkit-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -8px rgba(0, 0, 0, 0.75);
    animation: fade-in 1s; }

.pokedex--types {
  position: absolute;
  top: 46.9rem;
  margin-left: 20px;
  color: white; }
  .pokedex--types__0 {
    position: absolute;
    left: 46rem; }
  .pokedex--types__1 {
    position: absolute;
    left: 59.5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #87caea; }
  @media (max-width: 37.5em) {
    .container {
      background-color: transparent;
      height: 90vh;
      width: 190vw;
      overflow: scroll; } }

.github {
  padding: 2rem;
  font-size: 3.8rem;
  color: #fff;
  transition: transform 0.3s; }
  .github:hover {
    color: #f0072d;
    cursor: pointer;
    transform: translateY(-1.5px) scale(1.01); }
  .github:active {
    transform: translateY(0); }
