@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@keyframes light {
  0% {
    background-color: #39beff4a;
    box-shadow: none; }
  50% {
    background-color: #39beff4a;
    box-shadow: 0 0 12px 8px white; }
  100% {
    background-color: #39beff4a;
    box-shadow: none; } }

:focus {
  border: none;
  outline: none; }

.pokedex {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-top: 125px;
  width: 786px;
  height: 577px;
  background-repeat: no-repeat;
  text-transform: capitalize; }
  .pokedex--light {
    width: 58px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50px;
    animation-duration: 1s;
    animation-name: light;
    animation-iteration-count: infinite; }
  .pokedex--screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 158px;
    background-color: #fff;
    color: #ccc;
    position: absolute;
    top: 169px;
    left: 73px;
    border-radius: 10px; }
    .pokedex--screen__off {
      width: 237px;
      height: 158px;
      background-color: #012924;
      position: absolute;
      top: 169px;
      left: 73px;
      border-radius: 10px; }
    .pokedex--screen__error {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 169px;
      left: 73px;
      border-radius: 10px;
      width: 232px;
      height: 158px;
      text-align: center;
      background-color: #fff;
      padding: 5px; }
    .pokedex--screen__load {
      width: 237px;
      height: 158px;
      position: absolute;
      top: 169px;
      left: 73px;
      border-radius: 10px; }
    .pokedex--screen__sprite {
      position: absolute;
      width: 120px; }
    .pokedex--screen__name {
      position: absolute;
      top: 10px; }
    .pokedex--screen__pokeNumber {
      margin-left: 5px;
      font-size: 94px;
      font-weight: 1000; }
  .pokedex--shinyButton {
    position: absolute;
    left: 96px;
    top: 344px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    z-index: 1;
    cursor: pointer; }
  .pokedex--onButton {
    position: absolute;
    left: 40px;
    top: 385px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer; }
  .pokedex--negativeButton {
    position: absolute;
    left: 257px;
    top: 415px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
    cursor: pointer; }
  .pokedex--positiveButton {
    position: absolute;
    left: 312px;
    top: 425px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer; }
  .pokedex--form {
    position: absolute;
    top: 464px;
    left: 100px; }
    .pokedex--form__search {
      width: 78px;
      background: none;
      border: none;
      font-size: 16px; }
      .pokedex--form__search::placeholder {
        color: #555; }
    .pokedex--form__button {
      background: black;
      color: white;
      border: none;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      cursor: pointer; }
  .pokedex--data {
    position: absolute;
    top: 185px;
    right: 100px;
    color: white;
    width: 225px;
    height: 80px;
    font-size: 10px;
    z-index: 2; }
    .pokedex--data__stats__button {
      position: absolute;
      top: 402px;
      left: 465px;
      background: none;
      border: none;
      font-size: 12px;
      cursor: pointer; }
    .pokedex--data__abilities__button {
      position: absolute;
      top: 402px;
      left: 509.5px;
      background: none;
      border: none;
      font-size: 12px;
      cursor: pointer; }
  .pokedex--select {
    position: absolute;
    top: 300px;
    left: 460px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 250px;
    padding: 5px; }
    .pokedex--select__button {
      margin: -1px 22px 17px 1px;
      background: none;
      border: none;
      cursor: pointer; }
  .pokedex--types {
    position: absolute;
    top: 469px;
    margin-left: 20px;
    color: white; }
    .pokedex--types__0 {
      position: absolute;
      left: 460px; }
    .pokedex--types__1 {
      position: absolute;
      left: 595px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #87caea; }
